/* Header */
.header {
    background: #202020;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header .inner-logo a {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

/* End Header */

/* Body */
.body .sider {
    width: 150px;
    background: #323232;
    color: #fff;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: 0;
}

.body .main {
    margin: 15px;
    position: relative;
    left: 150px;
    width: calc(100% - 180px);
}

/* End Body */

/* Sider */
.sider li {
    padding: 10px;
    border-bottom: 1px solid #515151;
}

.sider li a {
    color: #fff;
    display: block;
}

.sider li:hover a {
    text-decoration: underline;
}

/* End Sider */

/* Button */
.btn {
    font-size: 14px;
}
/* End Button */

/* Input Group */
.search-product {
    max-width: 300px;
}
/* End Input Group */