:root {
    --color-bg-one: #E30613;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

ul {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
}